<section class="product-index">
    <h1> Dashboard: </h2>
  <br>
<div class="products panel">
<div class="panel panel-default products">

<table class="table table-bordered">
  <tr>
    <h4>Number of Products: <%= @product_count %></h4>
  </tr>
  <tr> 
    <h4> Number of Categories: <%= @category_count %></h4>
  </tr> 
</table>

</div>

</section>



